[project]
name = "lk-utils"
version = "3.4.0a0"
description = "LK Utils is a set of utility wrappers made for data processing."
readme = "README.md"
authors = [{ name = "Likianta", email = "likianta@foxmail.com" }]
requires-python = ">=3.8"
dynamic = ["dependencies"]
license = "MIT"

[project.optional-dependencies]
all = ["ipython", "toml", "xlrd", "xlsxwriter"]
dbg = ["ipython"]
# exl = ["openpyxl", "pyexcel", "pyexcel-xlsx"]
exl = ["xlrd", "xlsxwriter"]

[project.urls]
homepage = "https://github.com/likianta/lk-utils"

[tool.poetry.dependencies]
python = "^3.8"
argsense = "^1.1.0"
lk-logger = "^6.0.6"
psutil = ">=6.0.0"
pyyaml = "^6.0.0"
rich = ">=13.9.0"
# rich = "^14.0.0"
typing-extensions = "^4.0.0"

# --- extras
ipython = [
    { version = "<9.0.0", python = ">=3.8,<3.11", optional = true },
    { version = "^9.4.0", python = "^3.11", optional = true },
]
toml = { version = "^0.10.0", python = "<3.11", optional = true }
xlrd = { version = "1.2.0", optional = true }
xlsxwriter = { version = "^3.2.0", optional = true }

[tool.poetry.group.dev.dependencies]
ipython = { version = "^9.4.0", python = "^3.12" }
# openpyxl = "3.0.10"  # <- pyexcel-xlsx
# pyexcel = "^0.7.0"
# pyexcel-xlsx = "^0.6.0"
xlrd = "1.2.0"
xlsxwriter = "^3.2.0"

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
